
body {
  box-sizing: border-box;
  font-family: Roboto,Tahoma, sans-serif;

}
main {
  margin: 0 auto;
  padding: 10px;
  width: 600px;
  height: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  border: 2px solid steelblue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}
header {
  margin: 50px auto 00 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  line-height: 5px;
  
}
span {
  font-size: 60px;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
  color:blue;
}
section {
  margin: 0 auto;
  width: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
table {
  margin: 0 auto;
  width: auto;
  height: auto;
  border-collapse: collapse;
  border-spacing: 20px;
}
th {
  padding: 0;
}
td {
  width: auto;
  height: 30px;
  margin: 0 auto;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  border: 1px solid lightSteelBlue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}
#cellA{
  border-right: 8px solid white;
}
#cellB{
  border-left: 8px solid white;
}
 #frameA {
  padding: 0 8px 0 0;
}
#frameB {
  padding: 0 0 0 8px;
} 
img {
  width: 200px; 
  height: 200px;
  border: .5px solid #333333;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
#responseBox {
  margin: 20px auto;
  width: auto;
  line-height:  12px;
  text-align: center;
}
.shoutRight {
  margin: 10px auto;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 4px;
  color: seagreen;
}
.shoutWrong {
  margin: 10px auto;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 4px;
  color: firebrick;
}
.yesRight,
.noWrong,
.neutral {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 25px;
  color: darkslateblue;
}
.frameRight {
  border: 5px solid seaGreen;
}
.frameWrong {
  border: 5px solid firebrick;
}
.cellRight {
  background: seaGreen;
  border: 5px solid seaGreen;
  color: white;
}
.cellWrong {
  background: firebrick;
  border: 5px solid firebrick;
  color: white;
}
#buttonBox {
  margin: 30px auto;
  width: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
#button2Play, 
#button2Reset {
margin: 0 auto;
width: 0 20px;
cursor: pointer;
border: 2px solid azure;
border-radius: 6px;
text-align: center;
font-size: 16px;
font-weight: bold;
color:white;
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
#button2Play:hover, 
#button2Play:active,
#button2Reset:hover, 
#button2Reset:active  {
   background: lightsteelblue;
   font-weight: bolder;
   color: "#333333";
}







